.home-container {
    display: flex;
    min-height: calc(80vh - 80vh);
    font-family: "Roboto",sans-serif ;
}
 .all-movies2 {
    width: 100%;
    border-radius: 1px solid  rgb(235, 166, 138);
    padding: 20px 40px;
}
  .top2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}
   .h42 {
    text-transform: uppercase;
    font-weight: bold;
    border-left: 5px solid  rgb(235, 166, 138) ;
    padding-left: 10px;
}
   .view-all2 {
    color:  rgb(235, 166, 138);
    cursor: pointer;

}


  .movies-thumbnail {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
   .cover2 {
    cursor: pointer;
}
    .img2 {
    border-radius: 5px;
}
   .detail2 {
    widows: 180px;
}
    .name2 {
    font-weight: bold;
    height: 50px;
    text-align: center;
    font-size: 85%;
    margin-top: 5px;
    cursor: pointer;
}
.popular-movies {
    width: 25%;
    
    padding: 20px 40px;
}
 .h41 {
    text-transform: uppercase;
    font-weight: bold;
    border-left: 5px solid rgb(235, 166, 138);
    padding-left: 10px;
}
  .movie1 {
    margin-bottom: 20px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
   .name1 {
    font-weight: bold;
    cursor: pointer;
}
  .view-all1 {
    cursor: pointer;
    color:  rgb(235, 166, 138);
    margin-top: 30px;
    text-align: right;
}
.rating {
    padding-right: 45px;
    position: relative;
}
 .rating-value {
    position: absolute;
    top: 10px;
    right: 0px;
    font-weight: bold;
}

